/* Root kleuren voor de huisstijl */
:root {
    --lichtblauw: hsl(221, 23%, 76%);
    --blauw: hsl(239, 35%, 30%);
    --oranje: hsl(21, 90%, 48%);
    --wit: hsl(0, 0%, 100%);
}

/* body van de website */
body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header waar content bovenaan de pagina staat */
header {    
    position: relative;
    border-radius: 20px;
    background-color: var(--lichtblauw);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
}

/* Logo van de buurtcampus */
.logo {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.huisje {
    display: none;
    position: absolute;
    width: 100%;
    max-width: 50px;
    bottom: 0;
    left: 10%;
    
    @media (min-width: 834px){
        display: block;
    }
}

.ladder {
    display: none;
    position: absolute;
    width: 100%;
    max-width: 55px;
    bottom: 0;
    left: 24%;
    
    @media (min-width: 834px){
        display: block;
    }
}

.wolk {
    display: none;
    position: absolute;
    width: 100%;
    max-width: 100px;
    top: 25%;
    right: 1%;

    @media (min-width: 834px){
        display: block;
    }
}

.wolk2 {
    display: none;
    position: absolute;
    width: 100%;
    max-width: 100px;
    top: 10%;
    right: 15%;
    rotate: 180deg;

    @media (min-width: 834px){
        display: block;
    }
}

.wolk3 {
    display: none;
    position: absolute;
    width: 100%;
    max-width: 100px;
    top: 15%;
    right: 28%;

    @media (min-width: 834px){
        display: block;
    }
}

.vogel {
    display: none;
    position: absolute;
    width: 100%;
    max-width: 25px;
    top: 10%;
    right: 8%;
    transform: scale(-1, 1);

    @media (min-width: 834px){
        display: block;
    }
}

.vogel2 {
    display: none;
    position: absolute;
    width: 100%;
    max-width: 25px;
    top: 20%;
    right: 25%;
    transform: scale(-1, 1);

    @media (min-width: 834px){
        display: block;
    }
}

.boom {
    display: none;
    position: absolute;
    width: 100%;
    max-width: 80px;
    bottom: -5px;
    right: 7%;
    
    @media (min-width: 834px){
        display: block;
    }
}

.boom2 {
    display: none;
    position: absolute;
    width: 100%;
    max-width: 50px;
    bottom: -3px;
    right: 6%;
    
    @media (min-width: 834px){
        display: block;
    }
}

.kat {
    display: none;
    position: absolute;
    width: 100%;
    max-width: 25px;
    bottom: 0;
    right: 15%;
    
    @media (min-width: 834px){
        display: block;
    }
}

.oranjekat {
    display: none;
    position: absolute;
    width: 100%;
    max-width: 20px;
    bottom: 0;
    right: 12%;
    transform: scale(-1, 1);

    @media (min-width: 834px){
        display: block;
    }
}

/* Locaties */
.locaties {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1;
}

/* Navigatie */
.nav ul {
    list-style-type: none;
    font-weight: 600;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;

    @media (min-width: 834px) {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    @media (min-width: 1440px) {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

/* alle a elementen van de nav */
.nav a {
    display: block;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: var(--blauw);
}

/* h1 Heading */
h1 {
    display: flex;
    color: var(--blauw);
    align-items: center;
    justify-content: center;
}


.news-container {
    @media (min-width: 834px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr)
    }
    
}

.article-content
 {
    background-color: var(--lichtblauw);
    color: var(--blauw);
    display: grid;
    height: auto;
    border-radius: 25px;
    padding: 1rem;
    margin: 1rem;

    @media (min-width: 834px) {
        display: flex;
        height: auto;
        border-radius: 25px;
    }
}

/* Afbeelding van het artikel */
.article-img {
    max-width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 8px;
    object-position:var(--op-x, 50%) var(--op-y, 50%);
}

.datum {
    font-size: 0.7rem;
    margin: 0.5rem 0;
    font-weight: bold;
}

/* Titel van het artikel */
h2 {
    margin: 0;
}

/* Beschrijving van het artikel */
.beschrijving {
    line-height: 1.4;
    flex-grow: 1;
}

.flexbox-content {
    display: flex;
    flex-direction: column;

    @media (min-width: 834px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.read-button {
    background-color: var(--blauw);
    color: var(--wit);
    border: 2px solid var(--blauw);
    border-radius: 20px;
    padding: 6px 10px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    align-self: flex-end;
    text-decoration: none;
}

/* Hover styling van read button */
.read-button:hover {
    background-color: var(--wit);
    color: var(--blauw);
    border-color: var(--blauw);
}
